@page
@model IndexModel
@{
    ViewData["Title"] = "Example EConnect PSB";
}

@if (string.IsNullOrEmpty(Model.Username))
{
    <form method="GET">
        <p>
            <label>Username: </label>
            <input type="text" name="username" value="" />
        </p>
        <p>
            <label>Password: </label>
            <input type="password" name="password" value="" />
        </p>
        <button>Login</button>
    </form>
    <a href="https://psb.econnect.eu/introduction/gettingStarted.html#step-1-get-access">Getting started</a>
}
else
{
    <pre>@ViewData["meResponse"]</pre>

    <h1>Send invoice example</h1>
    <h2>Query recipient</h2>
    <p>Use the <a href="https://psb.econnect.eu/endpoints/v1/salesInvoice.html#query-recipient">"Query recipient"</a> to make sure the partyId can receive your invoice.</p>
    <form method="POST" enctype="multipart/form-data">
        <p>
            <label>Your partyId:</label>
            <input type="text" name="senderPartyId" value="@Model.SenderPartyId" />
        </p>
        <p>
            <label>Receiver partyId:</label>
            <input type="text" name="receiverPartyId" value="@Model.ReceiverPartyId" />
        </p>
        <button value="queryRecipient" name="queryRecipient">Query recipient</button>
    </form>

    <h3>Query recipient response</h3>
    <p>Use this partyId as the receiverId in the next send call or in your UBL as AccountingCustomerParty/EndpointID.</p>
    <pre>@ViewData["preflightResponse"]</pre>

    <h2>Send</h2>
    <p>Use the <a href="https://psb.econnect.eu/endpoints/v1/salesInvoice.html#send">"Send"</a> api to upload your invoice.</p>
    <form method="POST" enctype="multipart/form-data">
        <p>
            <label>Your partyId:</label>
            <input type="text" name="senderPartyId" value="@Model.SenderPartyId" />
        </p>
        <p>
            <label>Optional receiver partyId:</label>
            <input type="text" name="receiverPartyId" value="@Model.ReceiverPartyId" />
        </p>
        <p>
            <label>Business document (e.g. Ubl):</label>
            <input type="file" name="myFile" id="myFile" />
        </p>
        <button value="send" name="send">Send</button>
    </form>
    <h3>Send response</h3>
    <p>An Id will be returned When you request is accepted, please store this Id, since it is your trace and trace id.</p>

    <pre>@ViewData["sendResponse"]</pre>

    <h3>Receive status update</h3>
    <p>
        You need to <a href="https://psb.econnect.eu/endpoints/v1/hook.html#configure-your-webhook">register webhooks</a> using the topic "InvoiceSent" in order to known if your send was successful.
        There is an example webhook receiver attached to this project, please inspect the contents of: TODO.
    </p>
}


